@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
}

.App {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  position: relative;
}